# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDt4vs7S3nckO8xxfp1_axHZ76J0cz2qdg
VITE_FIREBASE_AUTH_DOMAIN=mahamahospital.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://mahamahospital-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=mahamahospital
VITE_FIREBASE_STORAGE_BUCKET=mahamahospital.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=256305692002
VITE_FIREBASE_APP_ID=1:256305692002:web:cfef26992264204be9803b

# Application Settings
VITE_APP_NAME=MahamaCare Hospital
VITE_EMERGENCY_HOTLINE=112
VITE_APP_URL=http://localhost:5173
